# dataset
dataset/
data/
*.npy
*.npz
*.pt
*.pth
*.ckpt
*.h5
*.onnx

# output
experiments/
results/
logs/
output/

# cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# model & weight files
*.onnx
*.pt
*.pth
*.ckpt

# experiment outputs
code/segmentation/experiments/


